.cancelButton, .deleteButton, .saveButton {
	float: left !important;
	width: auto !important;
	background-color: rgb(153, 184, 252) !important;
	color: white !important;
	border-radius: 3px !important;
	text-align: center !important;
	font-size: 14px !important;
	text-transform: uppercase !important;
	cursor: pointer !important;
	margin: 5px !important;
	padding: 3px !important;
}


.cancelButton:hover, .deleteButton:hover, .saveButton:hover {
	background-color: white;
	padding: 2px;
}

.gwt-TabBar .gwt-TabBarItem-wrapper {
	width: 50%;
}

.gwt-TabBar .gwt-TabBarItem {
	font-size: 12pt;
}

.gwt-PopupPanel {
	border: 3px solid #828788;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.dateList {
	width: 20%;
	padding: 2px;
	border: 1px solid #c2c2c2;
	float: left;
	overflow-y: active;
	overflow-x: hidden;
}

.datesButtonBar {
	padding: 2px;
	width: 28px;
	float: left;
	margin-left: 5px;
}

.dateInfos {
	width: 70%;
	margin-left: 5px;
	padding-left: 3px;
	border: 1px solid #c2c2c2;
	float: left;
	overflow-y: active;
	overflow-x: hidden;
}

.buttonsResourceDates {
	float: left;
	width: 28px;
	background-color: rgb(153, 184, 252);
	border-radius: 50px;
	color: white;
	cursor: pointer;
	height: 28px;
	text-align: center;
	font-size: 20px;
	display: block;
	margin-bottom: 3px;
}

.singleDate {
	width: 300px;
	padding: 2px;
	margin-bottom: 2px;
	overflow-x: hidden;
}

.singleDate:hover {
	padding: 1px;
	border: 1px solid #c2c2c2;
	cursor: pointer;
}
.singleDate:active {
	padding: 1px;
	border: 1px solid #c2c2c2;
	background-color: #f0eded;
	}

.singleDateSign {
	width: 10px;
	float: left;
	vertical-align: middle;
	display: block;
	margin-top: 7px;
	
}
.singleDateTimes {
	width: 40px;
	float: left;
	border-right: 1px solid #c2c2c2;
	margin-right: 2px;
}

.singleDateInfos {
	width: 225px;
	float: right;
}
.multiDateInfos {
	width: 265px;
	float: left;
}

.singleDateDateLabel {
	font-size: 110%;
	font-weight: bold;
}

.InfoHorizontalPanel {
	background: #eee;
	border: 1px solid #DDD;
	background: -moz-linear-gradient(top, #EEE, #FFF);
	background: -webkit-linear-gradient(top, #eee, #fff);
	background: -ms-linear-gradient(top, #eee, #fff);
	background: -o-linear-gradient(top, #eee, #fff);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.Input {
	font-family: Arial, sans-serif;
	color: #000000;
	font-size: 12px;
	border: 1px solid #EED5FF;
	background-color: #FFF0FF;
	
	height: 10px;
	width: 50px;
	padding: 3px;
	
}

.beschriftung{
	margin-bottom: 2px;
	font-weight: bold;
	
}
.dateInfoLineLeft{
	margin-top: 7px;
	height: 4em;
	float: left;
	display: block;
}

.resourceContainer{
	width: auto;
	float: left;
	border: 1px solid #c2c2c2;
	padding: 2px;
	height: auto;
	min-height: 70px;
	margin-right: 3px;
	box-shadow: 1px 1px 2px grey;
	display:block;
	border-radius: 5px;
}

.dateInfoLineComplete{
	margin-top: 7px;
	float: left;
	width: 100%;
	display: block;
	
}

.resource{
	width: auto;
	border: 1px solid #000000;
	height: auto;
	padding: 2px;
	margin: 2px;
	overflow: hidden;
	clear: none;
}

.closeCross{
	color: #FF0000;
	font-weight: bold;
	width: auto;
	float: right;
	text-align: center;
	margin-left: 2px;
	border: 0px;
	cursor: pointer;
	background: #FFFFFF;
}

.downArrowAddRes{
	width: auto;
	margin-left: 2px;
	border: 0px;
	cursor: pointer;
	background: #FFFFFF;
	float: left;
	font-weight: bold;
}

.resourceTitel{
	width: auto;
	float: left;
	text-align: center;
}

.headerRes{
	margin-bottom: 2px;
	font-weight: bold;
	float: left;
	clear: both;
}

.chooseContainer{
	border: 1px solid #c2c2c2;
	width: 100%;
	height: auto;
	clear: both;
}
.singleDatesContainer{
	width: 10px;
}

.timepickr-main { float: left; position: relative; z-index: 10000}
.timepickr-display { float: left; height:14px; width: 55px; padding:1px; outline: none; text-align: center; border: solid 1px #D8D8D8; }
.timepickr-popup { position: absolute; left: 0px; top: 20px; width: 500px; }
.timepickr-row  {       position: relative; background-color: #FFFFFF; clear: both;
        float: left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
        border:1px solid #FFFFFF; z-index: 10000}
.timepickr-button { cursor: pointer; font-size: 9px; margin: 2px;
        padding: 4px 6px; font-weight: bold; text-align: center; -webkit-border-radius: 4px;
        -moz-border-radius: 4px; border-radius: 4px; background-color: #D2D3D6;
        border: 1px solid #B5B6B9; color: #5E6164; float: left; }
.timepickr-row .state-hover { background-color:#636567; border-color:#636567; color:#FFFFFF; }
