/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#raplaPopup {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 6px solid orange;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

/* ADD BUTTON for new event */
.addButton {
	float: right;
	width: 28px;
	background-color: rgb(153, 184, 252);
	border-radius: 50px;
	color: white;
	cursor: pointer;
	height: 28px;
	text-align: center;
	margin-right: 50px;
	font-size: 20px;
}

.week.table {
	padding-top: 20px;
	border-collapse: collapse;
}

.week.table td, .week.table tr {
	min-height: 19px;
	border-color: black;
	border: 1px solid;
	padding: 2px;
}

.week.table table {
	display: table;
	width: 100%;
}

/* Event style */
.event {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.week.table .event.dragging {
	cursor: pointer;
}

.event.dragging {
	background-color: rgba(237, 237, 237, 0.47);
}