.headerPanel{
	padding-bottom: 20px;
	vertical-align: middle;

}

.coursePanel {
	padding-bottom: 5px;
	border-style: solid;
	border-color: cornflowerblue;
	border-width: 1px;
	padding-left: 10px;
	margin-bottom: 10px;
}


.captionLabel{
	font-family: "Calibri";
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-align: center;
	background-color: cornflowerblue;
}

.captionLabel::before {
	content: url('images/022 Document Add.png');
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;

}

.tabPanel {
	padding-bottom: 10px;

}
.content{
	padding-left: 5px;

}

.tabBar {
	/*background-color: white;*/
	
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: silver;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: white;
}
 .gwt-TabBarItem {

  box-shadow: 4px 1px 7px silver;
  background-color: cornflowerblue;
  opacity: 0.8;
  color: white;
  border-width: 1px;
  border-color: silver;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  font-size: 17px;
  font-family: "Calibri";
  cursor: pointer;
 
} 

.gwt-TabBarItem-selected {
	
	background-color: cornflowerblue;
	opacity: 1;
	cursor: default;
} 


.gwt-TabPanelBottom {
    background-color: white;
    box-shadow: 4px 4px 7px silver;

    padding-top: 1px;
    margin: 0px 0px 3px 0px;
}


/* .gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8E8E8;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #878787;
  background-color: #fff;
}

.gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  background-color: #e8e8e8;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #878787;
  border-bottom: 2px solid #87ffff;
  margin-right: 2px;
} */


.textbox {
	height: 100%;
	width: 100%
}

.tbPlanhour {
	width: 20px;
	height: 100%;
}

.grid {
	margin-bottom: 5px;
}

.taInfo {
	width: 100%
}

.zeile1 {
	width: 100%;
}

.part2 {
	padding-right: 15px;
}

.eventType {
	margin: 0 5px 10px 0px;
	text-align: center;
}
.language {
	margin: 0 5px 10px 5px;
}

.course {
	margin: 0 5px 10px 5px;
} 





.eventname {

	color: #777777;
	margin-right: 5px;
	
	
}


.planhour {
	
	margin-right: 5px;
	height: 100%;
	
}


.up::before{
	content: url('images/triangledown_klein.png');

}

.downButton {
	

}

/* .up {
	height: 15px;
	width: 15px;
}

*/
/*  .down {
	width: 50%;
	height: 50%;

}  */

/*  .img {
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 2px;
}
*/
/* .img_1 {
	
	width: 7px;;
	height: 7px;
}  */



/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#raplaPopup
{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 1px solid cornflowerblue;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

/* ADD BUTTON for new event */
.addButton {
	float: right;
	width: 28px;
	background-color: rgb(153, 184, 252);
	border-radius: 50px;
	color: white;
	cursor: pointer;
	height: 28px;
	text-align: center;
	margin-right: 50px;
	font-size: 20px;
}